
/* CSS GERAL */

* {
    margin: 0px;
    padding: 0px;
    background-color:  #dbe9f6;
    /* border: 2px solid black; */
}


body {
    background-color: #dbe9f6;
    overflow: hidden; /* Remove o scroll e fixa o conteúdo visível */
    
    
}

a {
    text-decoration: none;
}


#cab {
    background-color: #336596;
    height: 100px;
    width: 100%;
}

#cab2 {
    background-color: #336596;
    
    width: 100%;
    
}

#hr1 {
    width: 80%; /* Ajusta a largura para responsividade */
    margin: 10px auto; /* Centraliza e adiciona espaçamento superior/inferior */
    border: 0; /* Remove o estilo padrão */
    height: 2px; /* Define a altura */
    background:  #dbe9f6; /* Cor branca para contraste com o fundo */
    opacity: 0.8; /* Torna a linha levemente translúcida */
}

h1 {
    background-color: #336596; /* Azul petróleo escuro, elegante e moderno */
    color: #ECF0F1; /* Branco suave com um toque de cinza para contraste refinado */
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700; /* Peso da fonte para dar ênfase e presença */
    font-style: normal;
    text-align: center;
    padding: 15px;
    border-radius: 15px;



}




main {
    padding: 20px;
}

.calendario {
    margin-top: 35px;
    border-radius: 15px;
    padding: 20px;
    /* Adiciona um espaçamento interno para dar mais "respiro" ao conteúdo */


    justify-content: center;
    align-items: center;
    text-align: center;
}

.hcalendario {
    background-color: #336596;
    border: 2px solid  #336596;/* Adicionando uma borda consistente com uma tonalidade mais escura */
    border-radius: 9px 9px 0 0;
    height: 50px;
    text-align: center;
    color: #F2F2F2; /* Garante contraste com o texto */
}

.hcalendario > span {
    background-color: transparent; /* Evita sobrescrever o fundo do contêiner */
    color: #F2F2F2;
    font-size: 30px;
    font-family: "Lora", serif;
}

.corpocal {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 2px solid #336596;; /* Bordas harmonizadas com o cabeçalho */
    border-radius: 0 0 9px 9px;
}

.corpocal > p {
    display: inline-block;
    width: 30%;
    margin: 0;
}

.apoio {
    border: 5px solid #336596;
    border-radius: 15px;
    background-color: #F2F2F2; /* Contraste com o conteúdo */
}


.prf {
    color: #F2F2F2;
    background-color: #336596;
    height: 80px;
    font-size: 25px;
}

.prf>span {
    color: #F2F2F2;
    background-color:   #336596;

}

/* provisorio */

/* Estilo dos artigos */
.col-menu {
    padding: 10px;
    color: #ffffff;
    /* Texto branco */
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    /* Sombra suave */
    border: 2px solid #F2F2F2;
    /* Border dourado */
    background-color: #336596;
    border-radius: 5px;
}


.op {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 15px;
    background-color: #336596;
    color: #F2F2F2;
    border-radius: 15px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
}



.op:hover {
    transform: scale(1.05);
    /* Efeito de hover para aumentar levemente */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    /* Sombra mais intensa ao hover */
}



.btop {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid  #F2F2F2;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.btop:hover {
    background-color: #D4AF37;
}



img {

    border-radius: 50%;
    /* Raio da borda para formato redondo */
}

.voltar {
    
    background: linear-gradient(135deg, #1F3B57, #336596);
    color:  #F8F4E3 ; 
    border-radius: 8px;
    padding: 8px 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 35px;
    text-align: center;
    font-weight: 600;
}

.voltar:hover{
    background: linear-gradient(135deg, #336596, #719dfc ,#336596);

}

footer {
    background: linear-gradient(135deg, #1F3B57, #336596);
    color: #F2F2F2;
    text-align: center;
    padding: 20px 0;
    position: fixed; /* Fixa o rodapé na parte inferior da viewport */
    bottom: 0;
    width: 100%; /* Garante que o rodapé ocupe toda a largura */
}

footer p {
    margin: 0;
    font-family:  'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    background: linear-gradient(135deg, #1F3B57, #336596);

    
    
}

.liberar , .voltar{
    
    
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    
    font-weight: 600;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    body {
        overflow: auto; /* Permite rolagem em telas pequenas */
    }

    footer {
        position: relative;  /* Desfaz o efeito de fixação */
        bottom: auto;         /* Remove a fixação na parte inferior */
        padding: 16px 0;      /* Ajuste do padding para telas menores */
    }
}