


.main-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif; /* Fonte moderna */
}

/* Seções de formulário */
section.row {
    margin-bottom: 1rem;
}

/* Inputs e selects */
input.form-control, select.form-control {
    background: #ffffff;
    color: #000000;
    border: 2px solid #1F3B57;
    border-radius: 12px;
    padding: 10px;
    margin: 5px 0;
}

input.form-control:focus, select.form-control:focus {
    border-color: #316ca7;
    box-shadow: 0 0 8px rgba(49, 108, 167, 0.4);
}

/* Botão principal */
.btn-primary {
    background: linear-gradient(135deg, #1F3B57, #336596);
    color: #f7f7f7;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background: linear-gradient(135deg, #336596, #1F3B57);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo das tabelas */
table.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #1F3B57;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid  #1F3B57;
}

table.table thead th {
    background: rgba(0, 119, 255, 0.1);
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

table.table tbody tr {
    transition: background-color 0.3s ease;
}


table.table th, table.table td {
    padding: 10px;
    text-align: center;
}

/* Estilo dos botões de ação */
.botao-editar, .botao-excluir {
    background: linear-gradient(135deg, #1F3B57, #336596);
    color: #f7f7f7;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-editar:hover {
    background: linear-gradient(135deg, #336596, #1F3B57);
}

.botao-excluir:hover {
    background: linear-gradient(135deg, #336596, #1F3B57);
}

/* Títulos */
h3 {
    color: #1F3B57;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .main-container {
        padding: 10px;
    }

    table.table {
        font-size: 14px;
    }

    .btn-primary {
        width: 100%;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    h3 {
        font-size: 1.2rem;
    }

    .btn-primary {
        font-size: 14px;
        padding: 10px;
    }
}





